<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Procurar um Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="MarginCol">
        <ion-button id="eletronico" routerLink="/listapontos" expand="full" (click)="categoria('Eletrônico')">
          <ion-thumbnail>
            <div class="icons"><img alt="eletronics" src="../assets/icon/eletronics.png"></div> 
          </ion-thumbnail>
          <div class="LabelIcons" style="left: 6px">Eletrônicos</div>        
        </ion-button>

      </ion-col>
      <ion-col class="MarginCol">
        <ion-button id="lampadas" routerLink="/listapontos" expand="full" (click)="categoria('Lâmpadas')">
          <ion-thumbnail>
            <div class="icons"><img alt="lampadas" src="../assets/icon/lamp.png"></div>
            <div class="LabelIcons" style="left: 20px">Lâmpadas</div>
          </ion-thumbnail><p>            
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="MarginCol">
        <ion-button id="pilhas" routerLink="/listapontos" expand="full" (click)="categoria('Pilhas')">
          <ion-thumbnail>
            <div class="icons"><img alt="pilhas" src="../assets/icon/bateria.png"></div> 
          </ion-thumbnail>
          <div class="LabelIcons" style="left: 32px">Pilhas</div>        
        </ion-button>
      </ion-col>
      <ion-col class="MarginCol">
        <ion-button id="madeira" routerLink="/listapontos" expand="full" (click)="categoria('Madeira')">
          <ion-thumbnail>
            <div class="icons"><img alt="madeira" src="../assets/icon/wood.png"></div>
            <div class="LabelIcons" style="left: 25px">Madeira</div>
          </ion-thumbnail><p>            
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="MarginCol">
        <ion-button id="pneu" routerLink="/listapontos" expand="full" (click)="categoria('Pneu')">
          <ion-thumbnail>
            <div class="icons"><img alt="pneu" src="../assets/icon/pneu.png"></div> 
          </ion-thumbnail>
          <div class="LabelIcons" style="left: 38px">Pneu</div>        
        </ion-button>
      </ion-col>
      <ion-col class="MarginCol">
        <ion-button id="entulho" routerLink="/listapontos" expand="full" (click)="categoria('Entulho')">
          <ion-thumbnail>
            <div class="icons"><img alt="entulho" src="../assets/icon/build.png"></div>
            <div class="LabelIcons" style="left: 26px">Entulho</div>
          </ion-thumbnail><p>            
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="MarginCol">
        <ion-button id="medicamentos" routerLink="/listapontos" expand="full" (click)="categoria('Medicamentos')">
          <ion-thumbnail>
            <div class="icons"><img alt="medicamentos" src="../assets/icon/medicines.png"></div> 
          </ion-thumbnail>
          <div class="LabelIcons" style="left: 4px">Medicamento</div>        
        </ion-button>
      </ion-col>
      <ion-col class="MarginCol">
        <ion-button id="oleo" routerLink="/listapontos" expand="full" (click)="categoria('Óleo Doméstico')">
          <ion-thumbnail>
            <div class="icons"><img alt="entulho" src="../assets/icon/oil.png"></div>
            <div class="LabelIcons" style="left: 15px ; top: 89px">Óleo<br>Doméstico</div>
          </ion-thumbnail><p>            
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>











<!-- <ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select id="categorias" onchange="javascript:categoria(this)" placeholder=Categorias>
        <ion-select-option value="eletronicos">Eletronico</ion-select-option>
        <ion-select-option value="linha Branca">Linha Branca</ion-select-option>
        <ion-select-option value="madeira">Madeira</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Produto</ion-label>
    <ion-input [(ngModel)]="product" placeholder="Insira o produto"></ion-input>
  </ion-item>

  <ion-item>
    Produto está funcionando?
      <ion-segment value="default">
        <ion-segment-button value="Sim">
          <ion-label>Sim</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Nao">
          <ion-label>Não</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-item>

  <div id="container">
    <ion-button routerLink="/listapontos" expand="block" strong>Buscar</ion-button>
  </div>
</ion-content> -->
