ion-content{
  --background: url('/../assets/background/background.png') no-repeat center center/ cover;
}

ion-button{
  --background: #9aa371;
  --background-hover: #6b724c;
  --background-activated: #9aa371;
  --padding-start: 0;
  --padding-end: 5em;
  --padding-bottom: 3em;
  left: 33.34%;
  height: 120px;
  width: 120px;
}

.icons{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 25px;
}

.LabelIcons{
  position: absolute;
  top: 98px;
}

.MarginCol{
  left: 12px;
  right: 12px; 
}


.button-activated{
  --background: #9aa371;
  --background-hover: #6b724c;
  --background-activated: #9aa371;
  --padding-start: 0;
  --padding-end: 5em;
  --padding-bottom: 3em;
  left: 33.34%;
  height: 100px;
  width: 100px;
}



ion-thumbnail{
  justify-content: center;
  margin:auto;
}

ion-segment-button{
  color:black;
}

ion-label{
  white-space:'pre-line';
}

#toolbar{
  background: #F3F1E9;
}

#title{
  background: #F3F1E9;
}