<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Pontos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor = "let ponto of getPontoFiltro">
    <h1>{{ponto.nome}}</h1>
    {{ponto.categoria}} <br>
    {{ponto.endereco}} nº{{ponto.numero}} <br>
    Telefone: {{ponto.telefone}} <br>
    Cidade: {{ponto.cidade}}
    <ion-card-content >
      <ion-grid>
        <ion-row >
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
