ion-content{
    --background: url('/../assets/background/background.png') no-repeat center center/ cover;
  }
  
  ion-button{
    --background: #9aa371;
    --background-hover: #6b724c;
    --background-activated: #9aa371;  
  
    --border-radius: 400px;
  }

  #cardPontos{
    background: white;
  }

  #eletronico{
    background-color: #6b724c;
  }