<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Pontos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<br>
<h1 style="color: #6b724c; padding-left: 10px">{{categoria}}</h1>
  <ion-card style="padding-left: 10px; padding-bottom: 10px;" id="cardPontos" *ngFor = "let ponto of getPontoFiltro">
    <h3>{{ponto.nome}}</h3>
    {{ponto.endereco}} nº{{ponto.numero}} <br>
    Telefone: {{ponto.telefone}} <br>
    Cidade: {{ponto.cidade}}<br>
  </ion-card>
</ion-content>
