<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Sugerir Novo Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Selecione a categoria</ion-label>
      <ion-select id="categorias" placeholder=Categorias>
        <ion-select-option value="eletronicos">Eletrônicos</ion-select-option>
        <ion-select-option value="linha Branca">Linha Branca</ion-select-option>
        <ion-select-option value="madeira">Madeira</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Produto</ion-label>
    <ion-input this.produtoplaceholder="Insira o produto"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Nome do Ponto</ion-label>
    <ion-input placeholder="Insira o nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Endereço</ion-label>
    <ion-input placeholder="Insira o endereço"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cidade-Estado</ion-label>
    <ion-input placeholder="Cidade-E"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Telefone</ion-label>
    <ion-input type="tel" placeholder="(xx) xxxx-xxxx"></ion-input>
  </ion-item>

  <ion-button routerLink="/home" expand="block" strong>Sugerir</ion-button>
</ion-content>
