<ion-header>
  <ion-toolbar>
    <ion-title>
      Onde Descarto?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color= "outline">
      <ion-title  id="tituloHome" size="large">Onde Descarto?</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button id= "procura" routerLink="/procuraponto" class="botao">Procurar pontos de coleta</ion-button>
    
    <a href="mailto:ondedescarto2023@gmail.com?Subject=Sugestao%20de%20novo%20ponto&Body=Categoria%3A%0ANome%3A%0AEndereco%3A%0ATelefone%3A%0ACidade%3A">
    <ion-button id="sugere" class="botao">Sugerir Ponto de Coleta</ion-button></a>
  </div>
</ion-content>
