<ion-header>
  <ion-toolbar>
    <ion-title>
      Onde Descarto?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color= "outline">
      <ion-title  id="tituloHome" size="large">Onde Descarto?</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="/procuraponto">Procurar pontos de coleta</ion-button>
    <ion-button routerLink="/suggest">Sugerir Ponto de Coleta</ion-button>
  </div>
</ion-content>
